Repository dupuy/reliabot: changes, and which pre-commit hooks are due for each by the changed paths.
All: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

reliabot:
  additional_dependencies:
  - ruamel.yaml
  - pyre2-updated
  args:
  - --update
  entry: reliabot/reliabot.py
  language: python
  name: maintain dependabot configuration
  pass_filenames: false

reliabot-pre-commit-files:
  additional_dependencies:
  - ruamel.yaml
  - pyre2-updated
  args:
  - --update-pre-commit
  entry: reliabot/reliabot.py
  language: python
  name: maintain pre-commit files configuration
  pass_filenames: false

check-docstring-keywords:
  name: Check docstring keywords
  language: pygrep
  entry: ^\s+:((arg(ument)?|[ci]var|except(ion)?|raise)|(return|(r|var)?type):)\s

check-docstring-keyword-usage:
  name: Check docstring keyword usage
  language: pygrep
  entry: ^\s+:(returns\s[^:]*|(param|raises|var)(\s+[^:\s]+\s[^:]*)?):\s

chore(stale): tweak stale action settings (#107)
  .github/workflows/stale.yaml
Due: reliabot

feat: assign labels from coventional commit types
  .github/workflows/assign-labels.yaml
Due: reliabot

chore(hardening): enable egress-policy for assign-labels workflow
  .github/workflows/assign-labels.yaml
Due: reliabot

feat: assign labels from conventional commit types (#108)
  .github/workflows/assign-labels.yaml
Due: reliabot

build(deps): use action-assign-labels updated to node20
  .github/workflows/assign-labels.yaml
Due: reliabot

build(deps): use action-assign-labels updated to node20 (#110)
  .github/workflows/assign-labels.yaml
Due: reliabot

build: update action-assign-labels & its mapping)
  .github/workflows/assign-labels.yaml
Due: reliabot

build: update action-assign-labels & its mapping) (#111)
  .github/workflows/assign-labels.yaml
Due: reliabot

feat: verify presence and relevance of PR labels
  .github/workflows/manage-labels.yaml
Due: reliabot

fix(actions): update to more secure version of action-verify-labels
  .github/workflows/manage-labels.yaml
Due: reliabot

Comment out pylint from pre-commit
  .pre-commit-config.yaml
Due: none

fix: comment out pylint from pre-commit (#132)
  .pre-commit-config.yaml
Due: none

chore: don't upgrade to alpha version of prettier pre-commit
  .pre-commit-config.yaml
Due: none

style: reorder-python-imports only manually
  .pre-commit-config.yaml
  poetry.lock
Due: none

ci: skip gitlint-ci for pre-commit.ci
  .pre-commit-config.yaml
Due: none

docs: disable broken badge
  README.md
Due: none

chore: reduce dependabot activity for GitHub actions
  .github/dependabot.yml
Due: reliabot

chore: dependabot noise, broken badge (#134)
  .github/dependabot.yml
  README.md
Due: reliabot

chore: avoid use of alpha release plugins
  .pre-commit-config.yaml
Due: none

fix: allow api.deps.dev for updated scorecard
  .github/workflows/ossf-scorecard.yaml
Due: reliabot

fix: allow api.deps.dev for updated scorecard (#160)
  .github/workflows/ossf-scorecard.yaml
Due: reliabot

fix: allow api.scorecard.dev for updated scorecard
  .github/workflows/ossf-scorecard.yaml
Due: reliabot

fix: allow api.scorecard.dev for updated scorecard (#161)
  .github/workflows/ossf-scorecard.yaml
Due: reliabot

chore: revert v4-alpha update to prettier
  .pre-commit-config.yaml
Due: none

fix: error from ruff pylint check
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: broken link to ruamel.yaml docs
  README.md
Due: none

fix: HTTP 429 rate limit errors checking implementation link
  README.md
Due: none

chore: python dependency updates
  poetry.lock
  reliabot/requirements.txt
Due: reliabot

fix: ruff warning about removed check
  pyproject.toml
Due: reliabot

chore: pre-position fix for poetry warning about poetry-plugin-export
  pyproject.toml
Due: reliabot

fix: deprecated git-cliff template variables
  pyproject.toml
Due: reliabot

fix: deprecated git-cliff template variables (#171)
  pyproject.toml
Due: reliabot

chore: update GitHub Actions container OS
  .github/workflows/assign-labels.yaml
  .github/workflows/codeql.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/ossf-scorecard.yaml
  .github/workflows/python-app.yaml
  .github/workflows/stale.yaml
Due: reliabot

Path conditions:
  reliabot: any of: (?x)(^|/)(
  gem(s[.]rb|file)|[\w.-]*[.]gemspec|
  cargo[.]toml|
  composer[.]json|
  (?i:[\w.-]*dockerfile[\w.-]*|values[\w.-]*[.]ya?ml)|
  elm(-package)?[.]json|
  action[.]yml|
  [.]gitmodules|
  go[.]mod|
  build[.]gradle([.]kts)?|
  mix[.]exs|
  pom[.]xml|
  package[.]json|
  nuget[.]config|
  requirements[.]txt|pyproject[.]toml|
  pubspec[.]yaml|
  \w[\w.-]*[.](?:hcl|tf)|
  [.]github/workflows/[^/]*[.]ya?ml|
  [.]github/dependabot[.]yml
  )$
  reliabot-pre-commit-files: any of: ^(reliabot/reliabot[.]py|[.]pre-commit-(config|hooks)[.]py)$
  check-docstring-keywords: any of: \.py$
  check-docstring-keyword-usage: any of: \.py$
