Repository dupuy/reliabot: changes, and which pre-commit hooks are due for each by the changed paths.
All: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

Path conditions:
  reliabot: any of: (?x)(^|/)(
  gem(s[.]rb|file)|[\w.-]*[.]gemspec|
  cargo[.]toml|
  composer[.]json|
  (?i:[\w.-]*dockerfile[\w.-]*|values[\w.-]*[.]ya?ml)|
  elm(-package)?[.]json|
  action[.]yml|
  [.]gitmodules|
  go[.]mod|
  build[.]gradle([.]kts)?|
  mix[.]exs|
  pom[.]xml|
  package[.]json|
  nuget[.]config|
  requirements[.]txt|pyproject[.]toml|
  pubspec[.]yaml|
  \w[\w.-]*[.](?:hcl|tf)|
  [.]github/workflows/[^/]*[.]ya?ml|
  [.]github/dependabot[.]yml
  )$
  reliabot-pre-commit-files: any of: ^(reliabot/reliabot[.]py|[.]pre-commit-(config|hooks)[.]py)$
  check-docstring-keywords: any of: \.py$
  check-docstring-keyword-usage: any of: \.py$

docs: add drdrang to humans.txt
  humans.txt
Due: none

feat: pre-commit hook for tidy numbering and ordering of all Markdown reference links (#35)
  .pre-commit-config.yaml
  humans.txt
  pyproject.toml
  setup.cfg
  tests/tidied.md
  tests/untidy.md
  tidy-md-refs.py
Due: reliabot, check-docstring-keywords, check-docstring-keyword-usage

feat: Use git-cliff to generate CHANGELOG.md
  CHANGELOG
  CHANGELOG.md
  pyproject.toml
  styles/config/vocabularies/Reliabot/accept.txt
Due: reliabot

feat(docs): Use git-cliff to generate CHANGELOG.md (#68)
  CHANGELOG
  CHANGELOG.md
  pyproject.toml
  styles/config/vocabularies/Reliabot/accept.txt
Due: reliabot

fix(docs): Correct the names of extras used for reliabot
  README.md
Due: none

fix(docs): Correct the names of extras used for reliabot (#69)
  README.md
Due: none

feat(ci): Truly harden GHA workflows
  .github/workflows/codeql.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/ossf-scorecard.yaml
  .github/workflows/stale.yaml
Due: reliabot

feat(ci): Truly harden GHA workflows (#70)
  .github/workflows/codeql.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/ossf-scorecard.yaml
  .github/workflows/stale.yaml
Due: reliabot

feat: GitHub Action for building, testing, releasing, and publishing
  .github/workflows/codeql.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/ossf-scorecard.yaml
  .github/workflows/python-app.yaml
  .github/workflows/stale.yaml
  poetry.lock
  pyproject.toml
  release.toml
Due: reliabot

feat: GitHub Action for building, testing, releasing, and publishing (#67)
  .github/workflows/codeql.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/ossf-scorecard.yaml
  .github/workflows/python-app.yaml
  .github/workflows/stale.yaml
  poetry.lock
  pyproject.toml
  release.toml
Due: reliabot

style: re-use 🛠️ for fixes in release notes
  release.toml
Due: none

style: use correct version for actions in comments
  .github/workflows/python-app.yaml
Due: reliabot

style: re-use 🛠️ for fixes in release notes (#74)
  release.toml
Due: none

feat: 'make' targets for release PRs
  CHANGELOG.md
  Makefile
  docs/CHANGELOG-0.x.md
Due: none

chore(release): reliabot v0.2.0
  CHANGELOG.md
  docs/CHANGELOG-0.md
  poetry.lock
Due: none

feat: 'make' targets for release PRs (#77)
  CHANGELOG.md
  Makefile
  docs/CHANGELOG-0.x.md
Due: none

style: add emojis for changelogs too
  pyproject.toml
Due: reliabot

chore(release): reliabot v0.4.0
  CHANGELOG.md
  docs/CHANGELOG-0.md
  poetry.lock
  pyproject.toml
Due: reliabot

chore(release): reliabot v0.2.1
  CHANGELOG.md
  docs/CHANGELOG-0.md
  poetry.lock
  pyproject.toml
Due: reliabot

fix: relocate CHANGELOG to match 'make release'
  CHANGELOG.md
  docs/CHANGELOG-0.md
Due: none

fix: relocate CHANGELOG to match 'make release' (#80)
  CHANGELOG.md
  docs/CHANGELOG-0.md
Due: none

test: change policy to audit
  .github/workflows/codeql.yaml
Due: reliabot

fix(ci): enable CodeQL download
  .github/workflows/codeql.yaml
Due: reliabot

fix(ci): CodeQL job hardening policy (#86)
  .github/workflows/codeql.yaml
Due: reliabot

refactor(cd): revamp GitHub Actions workflows
  .github/workflows/python-app.yaml
  .github/workflows/stale.yaml
  poetry.lock
  pyproject.toml
Due: reliabot

refactor(cd): revamp GitHub Actions workflows (#84)
  .github/workflows/python-app.yaml
  .github/workflows/stale.yaml
  poetry.lock
  pyproject.toml
Due: reliabot

chore(release): reliabot v0.2.1
  docs/CHANGELOG-0.md
  poetry.lock
  pyproject.toml
Due: reliabot

docs: Clean up old CHANGELOG entries
  docs/CHANGELOG-0.md
Due: none

release v0.2.1 (#81)
  docs/CHANGELOG-0.md
  poetry.lock
  pyproject.toml
Due: reliabot

fix: GitHub Actions pre/release logic
  .github/workflows/python-app.yaml
Due: reliabot

fix(release): build CHANGELOG incrementally
  Makefile
Due: none

chore(release): reliabot v0.2.2
  docs/CHANGELOG-0.md
  pyproject.toml
Due: reliabot

release v0.2.2 (#87)
  .github/workflows/python-app.yaml
  Makefile
  docs/CHANGELOG-0.md
  pyproject.toml
Due: reliabot

docs: add more badges to README.md
  README.md
Due: none

docs: address vale errors in badge alt-text
  README.md
Due: none

docs: remove non-functional (duplicate) badge
  README.md
Due: none

docs: add more badges to README.md (#71)
  README.md
Due: none

test(workflows): relax runner hardening & drop needs: *publish deps
  .github/workflows/python-app.yaml
Due: reliabot
