Repository dupuy/reliabot: changes, and which pre-commit hooks are due for each by the changed paths.
All: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

Path conditions:
  reliabot: any of: (?x)(^|/)(
  gem(s[.]rb|file)|.*[.]gemspec|
  cargo[.]toml|
  composer[.]json|
  [^.].*(dockerfile.*|values[\w-]*[.]ya?ml)|
  elm(-package)?[.]json|
  action[.]yml|
  [.]gitmodules|
  go[.]mod|
  build[.]gradle([.]kts)?|
  mix[.]exs|
  pom[.]xml|
  package[.]json|
  nuget[.]config|
  requirements[.]txt|pyproject[.]toml|
  pubspec[.]yaml|
  [^.].*[.](?:hcl|tf)|
  [.]github/workflows/[^/]*[.]ya?ml|
  [.]github/dependabot[.]yml
  )$
  reliabot-pre-commit-files: any of: ^(reliabot/reliabot[.]py|[.]pre-commit-(config|hooks)[.]py)$
  check-docstring-keywords: any of: \.py$
  check-docstring-keyword-usage: any of: \.py$

fix: ignore dotfiles like .tflint.hcl (#7)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: avoid alpha releases
  .pre-commit-config.yaml
Due: none

fix: minimal JSON to avoid prettier errors
  testdir/configured/npm/package.json
Due: reliabot

fix: self-test failure from Docker regex fix in #7
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: warnings from optargv fix in #6
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: buggy fixes (#9)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

test: no argument passed to main
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: correctly remove configs and truncate
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: don't use re2 for config file patterns
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: PyCharm warnings
  .gitignore
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: refactor to use Exclusions for kept folders too
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: ignoring dotfiles for terraform
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: ignoring dotfiles for terraform (#11)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

chore: update for v0.1.1
  README.md
Due: none

docs: fix Vale warnings
  .vale.ini
  README.md
Due: none

feat: better pre-commit.ci auto-fix and autoupdate messages
  .pre-commit-config.yaml
Due: none

Cleanups for v0.1.1 (#12)
  .pre-commit-config.yaml
  .vale.ini
  README.md
Due: none

feat: add first GH workflow (stale)
  .github/dependabot.yml
  .github/workflows/stale.yml
Due: reliabot

feat: add first GH workflow (stale) (#13)
  .github/dependabot.yml
  .github/workflows/stale.yml
Due: reliabot

Provide better error message when ruamel.yaml is not available
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

docs: Vale configuration with vocabulary accept list
  Makefile
  styles/.gitignore
  styles/Vocab/Reliabot/accept.txt
Due: none

docs: Vale configuration with vocabulary accept list (#19)
  Makefile
  styles/.gitignore
  styles/Vocab/Reliabot/accept.txt
Due: none

refactor: de-duped end-user vs. Python warnings
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: syntax error in exception handler
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: better warning when re2 isn't available
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: better warning when re2 isn't available (#20)
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: handle no comments in depenabot.yml
  .github/dependabot.yml
  reliabot/reliabot.py
Due: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: handle no comments in depenabot.yml (#21)
  .github/dependabot.yml
  reliabot/reliabot.py
Due: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: generate required schedule.interval for updates
  .github/dependabot.yml
  .pre-commit-config.yaml
  reliabot/reliabot.py
Due: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

Move additional import statements outside of try block
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

Prep for refactor of ruamel imports
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

Use error func in place of sys exit
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

Fix missing negation
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

docs: add examples
  .vale.ini
  README.md
Due: none

Accept import suggestion
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage
