Repository dupuy/reliabot: changes, and which pre-commit hooks are due for each by the changed paths.
All: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

Path conditions:
  reliabot: any of: (?x)(^|/)(
  gem(s[.]rb|file)|[\w.-]*[.]gemspec|
  cargo[.]toml|
  composer[.]json|
  (?i:[\w.-]*dockerfile[\w.-]*|values[\w.-]*[.]ya?ml)|
  elm(-package)?[.]json|
  action[.]yml|
  [.]gitmodules|
  go[.]mod|
  build[.]gradle([.]kts)?|
  mix[.]exs|
  pom[.]xml|
  package[.]json|
  nuget[.]config|
  requirements[.]txt|pyproject[.]toml|
  pubspec[.]yaml|
  \w[\w.-]*[.](?:hcl|tf)|
  [.]github/workflows/[^/]*[.]ya?ml|
  [.]github/dependabot[.]yml
  )$
  reliabot-pre-commit-files: any of: ^(reliabot/reliabot[.]py|[.]pre-commit-(config|hooks)[.]py)$
  check-docstring-keywords: any of: \.py$
  check-docstring-keyword-usage: any of: \.py$

chore(release): reliabot v0.6.1 (#451)
  .pre-commit-config.yaml
  docs/CHANGELOG-0.md
  pyproject.toml
Due: reliabot

fix: env settings can't reference env at same level
  .github/workflows/publish.yaml
  docs/CHANGELOG-0.md
Due: reliabot

docs: add v0.6.0 release notes to CHANGELOG-0
  docs/CHANGELOG-0.md
Due: none

fix: publish prepare step to download artifacts (#452)
  .github/workflows/publish.yaml
  docs/CHANGELOG-0.md
Due: reliabot

chore(release): reliabot v0.6.2
  docs/CHANGELOG-0.md
  pyproject.toml
Due: reliabot

chore(release): reliabot v0.6.2 (#453)
  docs/CHANGELOG-0.md
  pyproject.toml
Due: reliabot

fix: finalize-release conditions
  .github/workflows/publish.yaml
  .github/workflows/python-app.yaml
Due: reliabot

chore: push annotated tags on main
  Makefile
Due: none

fix: finalize-release conditions (#454)
  .github/workflows/publish.yaml
  .github/workflows/python-app.yaml
  Makefile
Due: reliabot

fix: type checking and typos
  .github/workflows/publish.yaml
  reliabot/reliabot.py
Due: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: type checking and typos
  .editorconfig
  .github/workflows/publish.yaml
  poetry.lock
  pyproject.toml
  reliabot/reliabot.py
  tidy-md-refs.py
Due: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: type checking and typos (#455)
  .editorconfig
  .github/workflows/publish.yaml
  poetry.lock
  pyproject.toml
  reliabot/reliabot.py
  tidy-md-refs.py
Due: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: hadolint pre-commit, update actionlint
  .pre-commit-config.yaml
  fuzz/Dockerfile
Due: reliabot

fix: hadolint pre-commit, update actionlint (#456)
  .pre-commit-config.yaml
  fuzz/Dockerfile
Due: reliabot

feat!: write files securely by default
  README.md
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: preserve file permission in secure mode
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

feat!: write files securely by default (#457)
  README.md
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

chore: add an agent skill for testing
  .agents/skills/reliabot-testing/SKILL.md
Due: none

chore: add an agent skill for testing (#458)
  .agents/skills/reliabot-testing/SKILL.md
Due: none

chore: vale sync
  styles/Google/AMPM.yml
  styles/Google/Anthropomorphism.yml
  styles/Google/Colons.yml
  styles/Google/DateFormat.yml
  styles/Google/ExcessiveClaims.yml
  styles/Google/FirstPerson.yml
  styles/Google/GenderBias.yml
  styles/Google/Headings.yml
  styles/Google/Jargon.yml
  styles/Google/Latin.yml
  styles/Google/OxfordComma.yml
  styles/Google/Parens.yml
  styles/Google/Timeless.yml
  styles/Google/Units.yml
  styles/Google/WordList.yml
  styles/Google/WordListCase.yml
  styles/proselint/Needless.yml
  styles/proselint/Nonwords.yml
Due: none

fix: some annoying things in styles
  .vale.ini
  styles/Reliabot/Annotations.yml
Due: none

chore: update vale styles (#461)
  .vale.ini
  styles/Google/AMPM.yml
  styles/Google/Anthropomorphism.yml
  styles/Google/Colons.yml
  styles/Google/DateFormat.yml
  styles/Google/ExcessiveClaims.yml
  styles/Google/FirstPerson.yml
  styles/Google/GenderBias.yml
  styles/Google/Headings.yml
  styles/Google/Jargon.yml
  styles/Google/Latin.yml
  styles/Google/OxfordComma.yml
  styles/Google/Parens.yml
  styles/Google/Timeless.yml
  styles/Google/Units.yml
  styles/Google/WordList.yml
  styles/Google/WordListCase.yml
  styles/Reliabot/Annotations.yml
  styles/proselint/Needless.yml
  styles/proselint/Nonwords.yml
Due: none

test: move ci-skip to its own tox env
  setup.cfg
Due: none

test: move ci-skip to its own tox env (#462)
  setup.cfg
Due: none

feat: better(?) reliabot-testing skill
  .agents/skills/reliabot-testing/ORIGINAL-SKILL.md
  SKILL.md
Due: none

refactor: move chunks of SKILL into reference
  .agents/skills/reliabot-testing/ORIGINAL-SKILL.md
  .agents/skills/reliabot-testing/SKILL.md
  .agents/skills/reliabot-testing/reference/debugging-quirks.md
  .agents/skills/reliabot-testing/reference/filing-issues.md
  .agents/skills/reliabot-testing/reference/markdown-style.md
  .agents/skills/reliabot-testing/reference/repo-layout.md
  .agents/skills/reliabot-testing/reference/writing-tests.md
  .pre-commit-config.yaml
  .vale.ini
  SKILL.md
Due: none

feat: better reliabot-testing skill (#459)
  .agents/skills/reliabot-testing/SKILL.md
  .agents/skills/reliabot-testing/reference/debugging-quirks.md
  .agents/skills/reliabot-testing/reference/filing-issues.md
  .agents/skills/reliabot-testing/reference/markdown-style.md
  .agents/skills/reliabot-testing/reference/repo-layout.md
  .agents/skills/reliabot-testing/reference/writing-tests.md
  .pre-commit-config.yaml
  .vale.ini
Due: none

fix: StepSecurity hardened runner egress policy
  .github/workflows/dependency-review.yaml
  .github/workflows/publish.yaml
  .github/workflows/test-coverage.yaml
Due: reliabot

fix: StepSecurity hardened runner egress policy (#469)
  .github/workflows/dependency-review.yaml
  .github/workflows/publish.yaml
  .github/workflows/test-coverage.yaml
Due: reliabot

fix: follow gitdir file to support pre-commit in Git worktrees
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: follow gitdir file to support pre-commit in Git worktrees (#470)
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

ci(github-actions): adopt StepSecurity maintained actions (#467)
  .github/workflows/codacy-coverage-reporter.yaml
  .github/workflows/publish.yaml
Due: reliabot

ci(github-actions): adopt StepSecurity maintained actions (#467) (#471)
  .github/workflows/codacy-coverage-reporter.yaml
  .github/workflows/publish.yaml
Due: reliabot

chore(release): reliabot v0.6.3-alpha.0
  .pre-commit-config.yaml
  docs/CHANGELOG-0.md
  pyproject.toml
Due: reliabot

chore(release): reliabot v0.6.3-alpha.0 (#472)
  .pre-commit-config.yaml
  docs/CHANGELOG-0.md
  pyproject.toml
Due: reliabot

chore(release): reliabot v0.6.3-alpha.1
  docs/CHANGELOG-0.md
  pyproject.toml
Due: reliabot

chore(release): reliabot v0.6.3-alpha.1 (#473)
  docs/CHANGELOG-0.md
  pyproject.toml
Due: reliabot

ci: cancel in-progress publish
  .github/workflows/publish.yaml
Due: reliabot

ci: cancel in-progress publish (#475)
  .github/workflows/publish.yaml
Due: reliabot

fix: unify releases by clearing draft
  .github/workflows/publish.yaml
Due: reliabot
