Repository dupuy/reliabot: changes, and which pre-commit hooks are due for each by the changed paths.
All: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

Path conditions:
  reliabot: any of: (?x)(^|/)(
  gem(s[.]rb|file)|.*[.]gemspec|
  cargo[.]toml|
  composer[.]json|
  [^.].*(dockerfile.*|values[\w-]*[.]ya?ml)|
  elm(-package)?[.]json|
  action[.]yml|
  [.]gitmodules|
  go[.]mod|
  build[.]gradle([.]kts)?|
  mix[.]exs|
  pom[.]xml|
  package[.]json|
  nuget[.]config|
  requirements[.]txt|pyproject[.]toml|
  pubspec[.]yaml|
  [^.].*[.](?:hcl|tf)|
  [.]github/workflows/[^/]*[.]ya?ml|
  [.]github/dependabot[.]yml
  )$
  reliabot-pre-commit-files: any of: ^(reliabot/reliabot[.]py|[.]pre-commit-(config|hooks)[.]py)$
  check-docstring-keywords: any of: \.py$
  check-docstring-keyword-usage: any of: \.py$

fix: ignore pre-commit.ci merge commits
  .gitlint
Due: none

fix: better gitlint configuration (#32)
  .gitlint
  .pre-commit-config.yaml
Due: none

feat: script to deepen shallow clones
  .pre-commit-config.yaml
  gitlint-deepen.sh
Due: none

docs: placeholder for CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

docs: placeholder for CONTRIBUTING.md (#33)
  CONTRIBUTING.md
Due: none

feat: improved issue templates
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/problem.md
  .github/ISSUE_TEMPLATE/question.md
Due: none

feat: docs: improved issue templates (#34)
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/problem.md
  .github/ISSUE_TEMPLATE/question.md
Due: none

feat: use pre-commit-shfmt downloading hook
  .pre-commit-config.yaml
Due: none

feat: use pre-commit-shfmt downloading hook (#36)
  .pre-commit-config.yaml
Due: none

ci: add vale pre-commit check
  .pre-commit-config.yaml
Due: none

fix: vale 3.0 breaking change
  styles/Vocab
  styles/config/vocabularies/Reliabot/accept.txt
Due: none

fix: many improvements suggested by ruff checks
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: many improvements suggested by ruff checks (#39)
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

style: reformat for CI
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

style: reformat for CI (#40)
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

refactor(build): Rewrite Makefile for installing tools
  Makefile
Due: none

refactor(build): Rewrite Makefile for installing tools (#42)
  Makefile
Due: none

Revert alpha update of pre-commit/mirrors-prettier
  .pre-commit-config.yaml
Due: none

ci: replace some Python checks with ruff
  .pre-commit-config.yaml
  pyproject.toml
Due: reliabot

ci: enable many additional checks for ruff
  .pre-commit-config.yaml
  pyproject.toml
Due: reliabot

ci: useless-suppression
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

ci(vale): add words to Reliabot vocabulary
  styles/config/vocabularies/Reliabot/accept.txt
Due: none

ci: replace many pre-commit checks/etc. with ruff (#38)
  .pre-commit-config.yaml
  pyproject.toml
  reliabot/__init__.py
  reliabot/reliabot.py
  styles/config/vocabularies/Reliabot/accept.txt
Due: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

ci(gitlint): ignore length error on autoupdate
  .gitlint
Due: none

ci(gitlint): ignore length error on autoupdate (#44)
  .gitlint
Due: none

chore: update Google styles for Vale
  .pre-commit-config.yaml
  .vale.ini
  styles/Google/EmDash.yml
  styles/Google/EnDash.yml
  styles/Google/Exclamation.yml
  styles/Google/HeadingPunctuation.yml
  styles/Google/LyHyphens.yml
  styles/Google/OptionalPlurals.yml
Due: none

chore: update Google styles for Vale (#45)
  .pre-commit-config.yaml
  .vale.ini
  styles/Google/EmDash.yml
  styles/Google/EnDash.yml
  styles/Google/Exclamation.yml
  styles/Google/HeadingPunctuation.yml
  styles/Google/LyHyphens.yml
  styles/Google/OptionalPlurals.yml
Due: none

chore: pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

chore: pre-commit autoupdate (#46)
  .pre-commit-config.yaml
Due: none

fix: self-test from module wrapper __main__
  pyproject.toml
  reliabot/reliabot.py
Due: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: self-test from module wrapper __main__ (#47)
  pyproject.toml
  reliabot/reliabot.py
Due: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

docs: markdown style
  CONTRIBUTING.md
Due: none

docs: more updates to CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Due: none

docs: rewrite CONTRIBUTING intro
  CONTRIBUTING.md
Due: none

docs: convert to reference-style links
  CONTRIBUTING.md
Due: none

docs: mdformat CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

docs: initial CONTRIBUTING.md
  CONTRIBUTING.md
Due: none
