Repository dupuy/reliabot: changes, and which pre-commit hooks are due for each by the changed paths.
All: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

Path conditions:
  reliabot: any of: (?x)(^|/)(
  gem(s[.]rb|file)|[\w.-]*[.]gemspec|
  cargo[.]toml|
  composer[.]json|
  (?i:[\w.-]*dockerfile[\w.-]*|values[\w.-]*[.]ya?ml)|
  elm(-package)?[.]json|
  action[.]yml|
  [.]gitmodules|
  go[.]mod|
  build[.]gradle([.]kts)?|
  mix[.]exs|
  pom[.]xml|
  package[.]json|
  nuget[.]config|
  requirements[.]txt|pyproject[.]toml|
  pubspec[.]yaml|
  \w[\w.-]*[.](?:hcl|tf)|
  [.]github/workflows/[^/]*[.]ya?ml|
  [.]github/dependabot[.]yml
  )$
  reliabot-pre-commit-files: any of: ^(reliabot/reliabot[.]py|[.]pre-commit-(config|hooks)[.]py)$
  check-docstring-keywords: any of: \.py$
  check-docstring-keyword-usage: any of: \.py$

fix: unify releases by clearing draft (#481)
  .github/workflows/publish.yaml
Due: reliabot

chore(release): reliabot v1.0.1-alpha.0
  CHANGELOG.md
  Makefile
  docs/CHANGELOG-0.md
  docs/CHANGELOG-1.md
  pyproject.toml
Due: reliabot

fix: prerelease builds, breaking changes, git-cliff
  Makefile
  docs/CHANGELOG-0.md
  pyproject.toml
Due: reliabot

fix: prerelease builds, breaking changes, git-cliff (#483)
  Makefile
  docs/CHANGELOG-0.md
  pyproject.toml
Due: reliabot

chore(release): reliabot v1.0.1-alpha.0
  CHANGELOG.md
  docs/CHANGELOG-1.md
  pyproject.toml
Due: reliabot

docs: Changelog update
  docs/CHANGELOG-1.md
Due: none

chore(release): reliabot v1.0.1-alpha.0 (#484)
  CHANGELOG.md
  docs/CHANGELOG-1.md
  pyproject.toml
Due: reliabot

docs: prefer git to web lookups when searching for code
  .agents/skills/reliabot-testing/SKILL.md
Due: none

docs: prefer git to web lookups when searching for code (#485)
  .agents/skills/reliabot-testing/SKILL.md
Due: none

chore: pre-commit-update
  .github/workflows/publish.yaml
  .pre-commit-config.yaml
  docs/CHANGELOG-1.md
Due: reliabot

chore(deps): pre-commit update (#486)
  .github/workflows/publish.yaml
  .pre-commit-config.yaml
  docs/CHANGELOG-1.md
Due: reliabot

test: don't re-run verbose=True after success
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

test: fix for doctest-md/doctest-cli
  CONTRIBUTING.md
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: self-test (#487)
  CONTRIBUTING.md
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

refactor: move shell scripts to scripts/ folder
  .pre-commit-config.yaml
  fuzz/corpus/pre-commit-config.yaml
  scripts/ci-skip-test.sh
  scripts/doctest-md.sh
  scripts/markdown-link-check.sh
  scripts/stalled-actions.sh
  setup.cfg
  styles/config/vocabularies/Reliabot/accept.txt
Due: none

refactor: move shell scripts to `scripts/` folder (#488)
  .pre-commit-config.yaml
  fuzz/corpus/pre-commit-config.yaml
  scripts/ci-skip-test.sh
  scripts/doctest-md.sh
  scripts/markdown-link-check.sh
  scripts/stalled-actions.sh
  setup.cfg
  styles/config/vocabularies/Reliabot/accept.txt
Due: none

docs: apply Vale suggestions and other updates
  .agents/skills/reliabot-testing/SKILL.md
  AGENTS.md
  CONTRIBUTING.md
  README.md
Due: none

docs: apply Vale suggestions and other updates (#489)
  .agents/skills/reliabot-testing/SKILL.md
  AGENTS.md
  CONTRIBUTING.md
  README.md
Due: none

feat: enable more Ruff checks and fixes
  .gitignore
  .pre-commit-config.yaml
  fuzz/reliabot_fuzzer.py
  pyproject.toml
  reliabot/reliabot.py
Due: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

feat: enable more Ruff checks and fixes (#490)
  .gitignore
  .pre-commit-config.yaml
  fuzz/reliabot_fuzzer.py
  pyproject.toml
  reliabot/reliabot.py
Due: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

feat: cancel jobs pending approval on PR close
  .github/workflows/cancel-pending-approval.yaml
  .github/workflows/notify-forks-on-pr-close.yaml
  .pre-commit-config.yaml
  scripts/stalled-actions.sh
Due: reliabot

feat: cancel jobs pending approval on PR close (#491)
  .github/workflows/cancel-pending-approval.yaml
  .github/workflows/notify-forks-on-pr-close.yaml
  .pre-commit-config.yaml
  scripts/stalled-actions.sh
Due: reliabot

ci: require test coverage for merge
  .github/repository-rules/reliabot-default-branch-rules.json
  .github/workflows/coverage-reporter.yaml
  .github/workflows/test-coverage.yaml
  scripts/stalled-actions.sh
Due: reliabot

ci: require test coverage for merge (#492)
  .github/repository-rules/reliabot-default-branch-rules.json
  .github/workflows/coverage-reporter.yaml
  .github/workflows/test-coverage.yaml
  scripts/stalled-actions.sh
Due: reliabot

feat: add zizmor action security pre-commit
  .github/dependabot.yml
  .github/workflows/assign-labels.yaml
  .github/workflows/cancel-pending-approval.yaml
  .github/workflows/coverage-reporter.yaml
  .github/workflows/notify-forks-on-pr-close.yaml
  .github/workflows/publish.yaml
  .github/workflows/python-app.yaml
  .pre-commit-config.yaml
  testdir/configured/.github/dependabot.yml
  zizmor.yml
Due: reliabot

feat: add zizmor action security pre-commit (#493)
  .github/dependabot.yml
  .github/workflows/assign-labels.yaml
  .github/workflows/cancel-pending-approval.yaml
  .github/workflows/coverage-reporter.yaml
  .github/workflows/notify-forks-on-pr-close.yaml
  .github/workflows/publish.yaml
  .github/workflows/python-app.yaml
  .pre-commit-config.yaml
  testdir/configured/.github/dependabot.yml
  zizmor.yml
Due: reliabot

chore: disable coverage upload to GitHub
  .github/workflows/coverage-reporter.yaml
Due: reliabot

chore: disable coverage upload to GitHub (#498)
  .github/workflows/coverage-reporter.yaml
Due: reliabot

fix: handle sync/delete branch errors
  .github/workflows/handle-upstream-pr-closed.yaml
Due: reliabot

fix: handle sync/delete branch errors (#499)
  .github/workflows/handle-upstream-pr-closed.yaml
Due: reliabot

feat: omit branch delete comment on success
  .github/workflows/handle-upstream-pr-closed.yaml
Due: reliabot

feat: omit branch delete comment on success (#500)
  .github/workflows/handle-upstream-pr-closed.yaml
Due: reliabot

fix: publish trigger logic
  .github/workflows/publish.yaml
  .github/workflows/python-app.yaml
Due: reliabot

fix: publish trigger logic (#501)
  .github/workflows/publish.yaml
  .github/workflows/python-app.yaml
Due: reliabot

fix: typo and bad permissions defaults in cancel-pending-approval
  .github/workflows/cancel-pending-approval.yaml
Due: reliabot

fix: gh token & error messages in handle-upstream-pr-closed
  .github/workflows/handle-upstream-pr-closed.yaml
Due: reliabot

fix: some workflow issues (#502)
  .github/workflows/cancel-pending-approval.yaml
  .github/workflows/handle-upstream-pr-closed.yaml
Due: reliabot

fix: checks for upstream closed notifications
  .github/workflows/handle-upstream-pr-closed.yaml
Due: reliabot

fix: checks for upstream closed notifications (#507)
  .github/workflows/handle-upstream-pr-closed.yaml
Due: reliabot

chore: update pre-commit config and ruff
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: reliabot
