Repository dupuy/reliabot: changes, and which pre-commit hooks are due for each by the changed paths.
All: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

reliabot:
  additional_dependencies:
  - ruamel.yaml
  - pyre2-updated
  args:
  - --update
  entry: reliabot/reliabot.py
  language: python
  name: maintain dependabot configuration
  pass_filenames: false

reliabot-pre-commit-files:
  additional_dependencies:
  - ruamel.yaml
  - pyre2-updated
  args:
  - --update-pre-commit
  entry: reliabot/reliabot.py
  language: python
  name: maintain pre-commit files configuration
  pass_filenames: false

check-docstring-keywords:
  name: Check docstring keywords
  language: pygrep
  entry: ^\s+:((arg(ument)?|[ci]var|except(ion)?|raise)|(return|(r|var)?type):)\s

check-docstring-keyword-usage:
  name: Check docstring keyword usage
  language: pygrep
  entry: ^\s+:(returns\s[^:]*|(param|raises|var)(\s+[^:\s]+\s[^:]*)?):\s

fix: rollback python-app OS to 22.04
  .github/workflows/python-app.yaml
Due: reliabot

chore: update GitHub Actions container OS to Ubuntu 24.04 (#173)
  .github/workflows/assign-labels.yaml
  .github/workflows/codeql.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/ossf-scorecard.yaml
  .github/workflows/python-app.yaml
  .github/workflows/stale.yaml
Due: reliabot

feat: test on python 3.13
  .github/workflows/python-app.yaml
  setup.cfg
Due: reliabot

fix: omit pyre2 extra for Python 3.13
  .github/workflows/python-app.yaml
Due: reliabot

feat: test on python 3.13 (#172)
  .github/workflows/python-app.yaml
  setup.cfg
Due: reliabot

chore(release): reliabot 0.3.0
  Makefile
  docs/CHANGELOG-0.md
  poetry.lock
  pyproject.toml
Due: reliabot

feat: group GitHub Actions infrastructure updates
  .github/dependabot.yml
Due: reliabot

feat: group GitHub Actions infrastructure dependabot updates
  .github/dependabot.yml
Due: reliabot

feat: group GitHub Actions infrastructure dependabot updates (#183)
  .github/dependabot.yml
Due: reliabot

feat: group GitHub Actions release dependabot updates
  .github/dependabot.yml
Due: reliabot

feat: group GitHub Actions release dependabot updates (#187)
  .github/dependabot.yml
Due: reliabot

fix: explicitly allow plural forms
  styles/config/vocabularies/Reliabot/accept.txt
Due: none

chore: continue to avoid alpha releases of Prettier
  .pre-commit-config.yaml
Due: none

fix: allow orhun/git-cliff-action to fetch git-cliff
  .github/workflows/python-app.yaml
Due: reliabot

feat: add .editorconfig and editorconfig-checker
  .editorconfig
  .editorconfig-checker.json
  .pre-commit-config.yaml
  Makefile
  README.md
  doctest-md.sh
  setup.cfg
Due: none

feat: add .editorconfig and editorconfig-checker pre-commit (#191)
  .editorconfig
  .editorconfig-checker.json
  .pre-commit-config.yaml
  Makefile
  README.md
  doctest-md.sh
  setup.cfg
Due: none

fix: avoid alpha release
  .pre-commit-config.yaml
Due: none

chore: avoid alpha revisions
  .pre-commit-config.yaml
Due: none

refactor: Optional[X] -> X | Y
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

refactor: Optional[X] -> X | None (#212)
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: suppress Ruff error in self_test
  .pre-commit-config.yaml
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

refactor: Optional[X] -> X | None
  tidy-md-refs.py
Due: check-docstring-keywords, check-docstring-keyword-usage

refactor: for updated Ruff checks (#213)
  .pre-commit-config.yaml
  reliabot/reliabot.py
  tidy-md-refs.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: python build GHA hardening
  .github/workflows/python-app.yaml
Due: reliabot

fix: python build GHA hardening (#214)
  .github/workflows/python-app.yaml
Due: reliabot

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

chore: update git-cliff version for GHA workflows
  .github/workflows/python-app.yaml
Due: reliabot

chore: update git-cliff version for GHA workflows (#215)
  .github/workflows/python-app.yaml
Due: reliabot

Improve SECURITY.md
  SECURITY.md
Due: none

Improve SECURITY.md (#216)
  SECURITY.md
Due: none

style: simplify and shellcheck markdown-link-check.sh
  markdown-link-check.sh
Due: none

fix: markdown-link-check config for StackExchange sites
  markdown-link-check.sh
Due: none

refactor: incorporate markdown-link-check as local
  .pre-commit-config.yaml
  markdown-link-check.sh
Due: none

fix: markdown link check for StackExchange sites (#217)
  .pre-commit-config.yaml
  markdown-link-check.sh
Due: none

fix: pyre2-updated for py313
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  reliabot/requirements.txt
Due: reliabot

fix: #174 pyre2-updated for py313 (#220)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  reliabot/requirements.txt
Due: reliabot

chore(release): reliabot v0.2.5
  docs/CHANGELOG-0.md
  pyproject.toml
Due: reliabot

docs: let vale accept changelog lingo
  docs/CHANGELOG-0.md
  styles/config/vocabularies/Reliabot/accept.txt
Due: none

Path conditions:
  reliabot: any of: (?x)(^|/)(
  gem(s[.]rb|file)|[\w.-]*[.]gemspec|
  cargo[.]toml|
  composer[.]json|
  (?i:[\w.-]*dockerfile[\w.-]*|values[\w.-]*[.]ya?ml)|
  elm(-package)?[.]json|
  action[.]yml|
  [.]gitmodules|
  go[.]mod|
  build[.]gradle([.]kts)?|
  mix[.]exs|
  pom[.]xml|
  package[.]json|
  nuget[.]config|
  requirements[.]txt|pyproject[.]toml|
  pubspec[.]yaml|
  \w[\w.-]*[.](?:hcl|tf)|
  [.]github/workflows/[^/]*[.]ya?ml|
  [.]github/dependabot[.]yml
  )$
  reliabot-pre-commit-files: any of: ^(reliabot/reliabot[.]py|[.]pre-commit-(config|hooks)[.]py)$
  check-docstring-keywords: any of: \.py$
  check-docstring-keyword-usage: any of: \.py$
