Repository dupuy/reliabot: changes, and which pre-commit hooks are due for each by the changed paths.
All: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

Path conditions:
  reliabot: any of: (?x)(^|/)(
  gem(s[.]rb|file)|.*[.]gemspec|
  cargo[.]toml|
  composer[.]json|
  [^.].*(dockerfile.*|values[\w-]*[.]ya?ml)|
  elm(-package)?[.]json|
  action[.]yml|
  [.]gitmodules|
  go[.]mod|
  build[.]gradle([.]kts)?|
  mix[.]exs|
  pom[.]xml|
  package[.]json|
  nuget[.]config|
  requirements[.]txt|pyproject[.]toml|
  pubspec[.]yaml|
  [^.].*[.](?:hcl|tf)|
  [.]github/workflows/[^/]*[.]ya?ml|
  [.]github/dependabot[.]yml
  )$
  reliabot-pre-commit-files: any of: ^(reliabot/reliabot[.]py|[.]pre-commit-(config|hooks)[.]py)$
  check-docstring-keywords: any of: \.py$
  check-docstring-keyword-usage: any of: \.py$

docs: demote TOC heading to h4
  CONTRIBUTING.md
Due: none

docs: add humans.txt (https://humanstxt.org/)
  humans.txt
Due: none

docs: rewrite the rest of CONTRIBUTING, with clean Vale
  CONTRIBUTING.md
  styles/config/vocabularies/Reliabot/accept.txt
Due: none

docs: yet more updates to CONTRIBUTING.md
  CONTRIBUTING.md
  Makefile
  styles/Reliabot/SpellCheck.yml
  styles/config/vocabularies/Reliabot/accept.txt
Due: none

docs: CONTRIBUTING.md (#23)
  CONTRIBUTING.md
  Makefile
  README.md
  humans.txt
  styles/Reliabot/SpellCheck.yml
  styles/config/vocabularies/Reliabot/accept.txt
Due: none

feat: GH workflow for PyPI publish
  .github/workflows/publish.yml
  .github/workflows/python-publish.yml
  .github/workflows/test-publish.yml
Due: reliabot

docs: PyPI publishing setup
  PUBLISHING.md
Due: none

Create ossf-scorecard.yaml
  .github/workflows/ossf-scorecard.yaml
Due: reliabot

Create ossf-scorecard.yaml (#48)
  .github/workflows/ossf-scorecard.yaml
Due: reliabot

ci: create ossf-scorecard.yaml workflow (#48)
  .github/workflows/ossf-scorecard.yaml
Due: reliabot

docs: CodeQL & OpenSSF scorecard + best practices badges
  README.md
Due: none

docs: CodeQL & OpenSSF scorecard + best practices badges (#53)
  README.md
Due: none

feat: add CODEOWNERS
  .github/CODEOWNERS
Due: none

feat: add CODEOWNERS (#55)
  .github/CODEOWNERS
Due: none

[StepSecurity] Apply security best practices
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/ossf-scorecard.yaml
  .github/workflows/stale.yml
  .pre-commit-config.yaml
Due: reliabot

ci: add gitleaks check
  .pre-commit-config.yaml
Due: none

Update .github/dependabot.yml
  .github/dependabot.yml
Due: reliabot

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update .github/workflows/codeql.yml
  .github/workflows/codeql.yml
Due: reliabot

ci: add gitleaks check (#57)
  .pre-commit-config.yaml
Due: none

chore: disable prettier for StepSecurity PR
  .pre-commit-config.yaml
Due: none

chore: disable prettier for StepSecurity PR (#58)
  .pre-commit-config.yaml
Due: none

[StepSecurity] Apply security best practices (#56)
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/ossf-scorecard.yaml
  .github/workflows/stale.yml
Due: reliabot

chore: workflow files
  .github/workflows/codeql.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/stale.yaml
  .pre-commit-config.yaml
Due: reliabot

chore: workflow files (#59)
  .github/workflows/codeql.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/stale.yaml
  .pre-commit-config.yaml
Due: reliabot

chore: cleanup checks configuration
  pyproject.toml
  setup.cfg
Due: reliabot

chore: cleanup workflows
  .github/workflows/codeql.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/ossf-scorecard.yaml
  .github/workflows/stale.yaml
Due: reliabot

chore: cleanup checks and workflows (#60)
  .github/workflows/codeql.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/ossf-scorecard.yaml
  .github/workflows/stale.yaml
  pyproject.toml
  setup.cfg
Due: reliabot

fix: codeql.yaml cron error
  .github/workflows/codeql.yaml
Due: reliabot

fix: codeql.yaml cron error (#64)
  .github/workflows/codeql.yaml
Due: reliabot

chore: @drdrang as reviewer for tidy-md-refs.py
  .github/CODEOWNERS
Due: none

chore: @drdrang as reviewer for tidy-md-refs.py (#65)
  .github/CODEOWNERS
Due: none

feat: enable Python 3.12 now that pyre2-updated supports it
  README.md
  setup.cfg
Due: none

fix: pylint and ruff findings for tidy-md-refs.py
  pyproject.toml
  tidy-md-refs.py
Due: reliabot, check-docstring-keywords, check-docstring-keyword-usage

feat: tidy multiple markdown files in place
  tidy-md-refs.py
Due: check-docstring-keywords, check-docstring-keyword-usage

chore: pre-commit cleanups for tidy-md-refs.py
  tidy-md-refs.py
Due: check-docstring-keywords, check-docstring-keyword-usage

test: complete 100% coverage for tidy-md-refs.py
  setup.cfg
Due: none

feat: pre-commit tidy-md-refs hook
  .pre-commit-config.yaml
Due: none

fix: fatal exception in tidy-md-refs.py
  .pre-commit-config.yaml
  tests/tidied.md
  tests/untidy.md
  tidy-md-refs.py
Due: check-docstring-keywords, check-docstring-keyword-usage

feat: original script by drdrang
  tidy-md-refs.py
Due: check-docstring-keywords, check-docstring-keyword-usage
