Repository dupuy/reliabot: changes, and which pre-commit hooks are due for each by the changed paths.
All: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

reliabot:
  additional_dependencies:
  - ruamel.yaml
  - pyre2-updated
  args:
  - --update
  entry: reliabot/reliabot.py
  language: python
  name: maintain dependabot configuration
  pass_filenames: false

reliabot-pre-commit-files:
  additional_dependencies:
  - ruamel.yaml
  - pyre2-updated
  args:
  - --update-pre-commit
  entry: reliabot/reliabot.py
  language: python
  name: maintain pre-commit files configuration
  pass_filenames: false

check-docstring-keywords:
  name: Check docstring keywords
  language: pygrep
  entry: ^\s+:((arg(ument)?|[ci]var|except(ion)?|raise)|(return|(r|var)?type):)\s

check-docstring-keyword-usage:
  name: Check docstring keyword usage
  language: pygrep
  entry: ^\s+:(returns\s[^:]*|(param|raises|var)(\s+[^:\s]+\s[^:]*)?):\s

test: temporarily disable test-pypi
  .github/workflows/python-app.yaml
Due: reliabot

chore(release): reliabot v0.2.5 (#221)
  .github/workflows/python-app.yaml
  docs/CHANGELOG-0.md
  pyproject.toml
  styles/config/vocabularies/Reliabot/accept.txt
Due: reliabot

fix: allow release-assets.githubusercontent.com for CodeQL
  .github/workflows/codeql.yaml
Due: reliabot

fix: allow release-assets.githubusercontent.com for CodeQL (#222)
  .github/workflows/codeql.yaml
Due: reliabot

Revert use of alpha version
  .pre-commit-config.yaml
Due: none

fix: avoid alpha releases
  .pre-commit-config.yaml
Due: none

fix: remove fix-encoding-pragma
  .pre-commit-config.yaml
Due: none

feat: add pyupgrade hook
  .pre-commit-config.yaml
Due: none

refactor: pyupgrade --py38-plus
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

refactor: pyupgrade --py38-plus (#231)
  .pre-commit-config.yaml
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

test: relax gitlint body length limit
  .gitlint
Due: none

fix: don't edit labels from forks
  .github/workflows/assign-labels.yaml
Due: reliabot

fix: don't edit labels from forks (#232)
  .github/workflows/assign-labels.yaml
  .gitlint
Due: reliabot

fix: don't apply label changes from forks
  .github/workflows/assign-labels.yaml
Due: reliabot

fix: don't apply label changes from forks (#234)
  .github/workflows/assign-labels.yaml
Due: reliabot

fix: link in enhancement template
  .github/ISSUE_TEMPLATE/enhancement.md
Due: none

docs: fix link in enhancement template (#233)
  .github/ISSUE_TEMPLATE/enhancement.md
Due: none

chore: update action-assign-labels workflow
  .github/workflows/assign-labels.yaml
Due: reliabot

chore: update action-assign-labels workflow (#235)
  .github/workflows/assign-labels.yaml
Due: reliabot

refactor: don't use alpha releases
  .pre-commit-config.yaml
Due: none

docs: update version in comment (1)
  .github/workflows/codeql.yaml
Due: reliabot

docs: update version in comment (2)
  .github/workflows/codeql.yaml
Due: reliabot

docs: update version in comment (3)
  .github/workflows/ossf-scorecard.yaml
Due: reliabot

fix: ruff type-checking import error
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

Apply suggestions from code review
  .pre-commit-config.yaml
Due: none

Revert update of markdownlint
  .pre-commit-config.yaml
Due: none

fix: end support for python < 3.10
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  setup.cfg
Due: reliabot

fix: end support for python < 3.10 (#250)
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  reliabot/requirements.txt
  setup.cfg
Due: reliabot

chore(release): reliabot v0.3.0
  .pre-commit-config.yaml
  README.md
  docs/CHANGELOG-0.md
  poetry.lock
  pyproject.toml
  reliabot/requirements.txt
Due: reliabot

Release v0.3.0 (#252)
  .editorconfig
  .editorconfig-checker.json
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/dependabot.yml
  .github/workflows/assign-labels.yaml
  .github/workflows/codeql.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/ossf-scorecard.yaml
  .github/workflows/python-app.yaml
  .github/workflows/stale.yaml
  .gitlint
  .pre-commit-config.yaml
  Makefile
  README.md
  SECURITY.md
  docs/CHANGELOG-0.md
  doctest-md.sh
  markdown-link-check.sh
  poetry.lock
  pyproject.toml
  reliabot/reliabot.py
  reliabot/requirements.txt
  setup.cfg
  styles/config/vocabularies/Reliabot/accept.txt
  tidy-md-refs.py
Due: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

Release v0.3.0 (#253)
  .pre-commit-config.yaml
  Makefile
  README.md
  docs/CHANGELOG-0.md
  poetry.lock
  pyproject.toml
  reliabot/requirements.txt
Due: reliabot

feat: enable hadolint for Dockerfiles
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: reliabot

docs: reduce verbosity
  README.md
Due: none

test: Atheris fuzzing for reliabot
  .github/dependabot.yml
  fuzz/Dockerfile
  fuzz/README.md
  fuzz/reliabot_fuzzer.py
  reliabot/reliabot.py
  styles/config/vocabularies/Reliabot/accept.txt
Due: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: disable hadolint for pre-commit.ci
  .pre-commit-config.yaml
Due: none

feat: Atheris fuzzing (#261)
  .github/dependabot.yml
  .pre-commit-config.yaml
  README.md
  fuzz/Dockerfile
  fuzz/README.md
  fuzz/reliabot_fuzzer.py
  poetry.lock
  pyproject.toml
  reliabot/reliabot.py
  styles/config/vocabularies/Reliabot/accept.txt
Due: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: Revert markdownlint update
  .pre-commit-config.yaml
Due: none

chore: pre-commit updates
  .pre-commit-config.yaml
Due: none

feat: pre-commit-update (#265)
  .pre-commit-config.yaml
Due: none

Path conditions:
  reliabot: any of: (?x)(^|/)(
  gem(s[.]rb|file)|[\w.-]*[.]gemspec|
  cargo[.]toml|
  composer[.]json|
  (?i:[\w.-]*dockerfile[\w.-]*|values[\w.-]*[.]ya?ml)|
  elm(-package)?[.]json|
  action[.]yml|
  [.]gitmodules|
  go[.]mod|
  build[.]gradle([.]kts)?|
  mix[.]exs|
  pom[.]xml|
  package[.]json|
  nuget[.]config|
  requirements[.]txt|pyproject[.]toml|
  pubspec[.]yaml|
  \w[\w.-]*[.](?:hcl|tf)|
  [.]github/workflows/[^/]*[.]ya?ml|
  [.]github/dependabot[.]yml
  )$
  reliabot-pre-commit-files: any of: ^(reliabot/reliabot[.]py|[.]pre-commit-(config|hooks)[.]py)$
  check-docstring-keywords: any of: \.py$
  check-docstring-keyword-usage: any of: \.py$
