Repository dupuy/reliabot: changes, and which pre-commit hooks are due for each by the changed paths.
All: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

reliabot:
  additional_dependencies:
  - ruamel.yaml
  - pyre2-updated
  args:
  - --update
  entry: reliabot/reliabot.py
  language: python
  name: maintain dependabot configuration
  pass_filenames: false

reliabot-pre-commit-files:
  additional_dependencies:
  - ruamel.yaml
  - pyre2-updated
  args:
  - --update-pre-commit
  entry: reliabot/reliabot.py
  language: python
  name: maintain pre-commit files configuration
  pass_filenames: false

check-docstring-keywords:
  name: Check docstring keywords
  language: pygrep
  entry: ^\s+:((arg(ument)?|[ci]var|except(ion)?|raise)|(return|(r|var)?type):)\s

check-docstring-keyword-usage:
  name: Check docstring keyword usage
  language: pygrep
  entry: ^\s+:(returns\s[^:]*|(param|raises|var)(\s+[^:\s]+\s[^:]*)?):\s

Remove constant and prevent pre-commit from hoisting
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

Disable linting & reordering on ruamel imports
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

hyphenate to get desired behavior from pre-commit
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

Disable re-order on each individual line
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

Add pylint hint to line ci is complaining about
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

Check which reorder-python-imports syntax is correct
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

noreorder on each line
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

single line noreorder
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

add conditional import
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

remove pylint dochint
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

refactor: use try-except-else for from ruamel.yaml import ...
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

feat: provide better error when ruamel.yaml is not available (#18)
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: generate required schedule.interval for updates (#22)
  .github/dependabot.yml
  .pre-commit-config.yaml
  .vale.ini
  README.md
  reliabot/reliabot.py
Due: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: allow dependabot-generated branch names
  .pre-commit-config.yaml
Due: none

fix: prospector (partially)
  .pre-commit-config.yaml
  setup.cfg
Due: none

refactor: errors and warnings
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

test: docs: verify output in console blocks with doctest-cli
  .gitignore
  README.md
  setup.cfg
Due: none

docs: refactor/reorder README
  README.md
Due: none

docs: document command-line options
  README.md
Due: none

refactor: split extract_settings
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

docs: explain reliabot options and verify console examples (#25)
  .gitignore
  .pre-commit-config.yaml
  README.md
  reliabot/reliabot.py
  setup.cfg
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

feat: improved doctest-cli wrapper
  .pre-commit-config.yaml
  README.md
  doctest-md.sh
  setup.cfg
Due: none

fix: skip shfmt check for pre-commit.ci
  .pre-commit-config.yaml
Due: none

feat: improved doctest-cli wrapper (#26)
  .pre-commit-config.yaml
  README.md
  doctest-md.sh
  setup.cfg
Due: none

Create problem (bug report) template
  .github/ISSUE_TEMPLATE/problem.md
Due: none

docs: problem template improvements
  .github/ISSUE_TEMPLATE/problem.md
Due: none

Create problem (bug report) template (#27)
  .github/ISSUE_TEMPLATE/problem.md
Due: none

Create SECURITY.md
  SECURITY.md
Due: none

docs: fix link, use Unicode emoji, not GH :x:
  SECURITY.md
Due: none

Create SECURITY.md (#28)
  SECURITY.md
Due: none

Create enhancement (feature request) template
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/problem.md
Due: none

fix: add missing reference link
  .github/ISSUE_TEMPLATE/enhancement.md
Due: none

Create enhancement (feature request) template (#29)
  .github/ISSUE_TEMPLATE/enhancement.md
Due: none

Create question template
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/problem.md
  .github/ISSUE_TEMPLATE/question.md
Due: none

docs: mdformat
  .github/ISSUE_TEMPLATE/question.md
Due: none

Create question template (#30)
  .github/ISSUE_TEMPLATE/question.md
Due: none

feat: configure gitlint (for CI as well)
  .gitlint
  .pre-commit-config.yaml
Due: none

feat: configure gitlint (for CI as well) (#31)
  .gitlint
  .pre-commit-config.yaml
Due: none

fix: better gitlint configuration
  .gitlint
  .pre-commit-config.yaml
Due: none

feat: enforce conventional commit tags
  .gitlint
Due: none

Path conditions:
  reliabot: any of: (?x)(^|/)(
  gem(s[.]rb|file)|.*[.]gemspec|
  cargo[.]toml|
  composer[.]json|
  [^.].*(dockerfile.*|values[\w-]*[.]ya?ml)|
  elm(-package)?[.]json|
  action[.]yml|
  [.]gitmodules|
  go[.]mod|
  build[.]gradle([.]kts)?|
  mix[.]exs|
  pom[.]xml|
  package[.]json|
  nuget[.]config|
  requirements[.]txt|pyproject[.]toml|
  pubspec[.]yaml|
  [^.].*[.](?:hcl|tf)|
  [.]github/workflows/[^/]*[.]ya?ml|
  [.]github/dependabot[.]yml
  )$
  reliabot-pre-commit-files: any of: ^(reliabot/reliabot[.]py|[.]pre-commit-(config|hooks)[.]py)$
  check-docstring-keywords: any of: \.py$
  check-docstring-keyword-usage: any of: \.py$
