Repository dupuy/reliabot: changes, and which pre-commit hooks are due for each by the changed paths.
All: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

reliabot:
  additional_dependencies:
  - ruamel.yaml
  - pyre2-updated
  args:
  - --update
  entry: reliabot/reliabot.py
  language: python
  name: maintain dependabot configuration
  pass_filenames: false

reliabot-pre-commit-files:
  additional_dependencies:
  - ruamel.yaml
  - pyre2-updated
  args:
  - --update-pre-commit
  entry: reliabot/reliabot.py
  language: python
  name: maintain pre-commit files configuration
  pass_filenames: false

check-docstring-keywords:
  name: Check docstring keywords
  language: pygrep
  entry: ^\s+:((arg(ument)?|[ci]var|except(ion)?|raise)|(return|(r|var)?type):)\s

check-docstring-keyword-usage:
  name: Check docstring keyword usage
  language: pygrep
  entry: ^\s+:(returns\s[^:]*|(param|raises|var)(\s+[^:\s]+\s[^:]*)?):\s

fix: pin Docker base image and apt pkgs
  fuzz/Dockerfile
Due: reliabot

fix: pin Docker base image and apt pkgs (#266)
  fuzz/Dockerfile
Due: reliabot

feat: really add pre-commit-update check
  .pre-commit-config.yaml
  pyproject.toml
Due: reliabot

feat: really add pre-commit-update check (#268)
  .pre-commit-config.yaml
  pyproject.toml
Due: reliabot

chore: make dependabot pip updates weekly
  .github/dependabot.yml
Due: reliabot

chore: make dependabot pip updates weekly (#269)
  .github/dependabot.yml
Due: reliabot

fix: handle NotImplementedError from ruamel.yaml
  fuzz/reliabot_fuzzer.py
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: handle NotImplementedError from ruamel.yaml (#271)
  fuzz/reliabot_fuzzer.py
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: handle ValueError from ruamel.yaml
  fuzz/reliabot_fuzzer.py
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: handle ValueError from ruamel.yaml (#272)
  fuzz/reliabot_fuzzer.py
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

feat: use real and test YAML configs in corpus
  fuzz/Dockerfile
  fuzz/corpus/github.dependabot.yml
  fuzz/corpus/pre-commit-config.yaml
  fuzz/corpus/testdir.configured.github.dependabot.yml
  fuzz/corpus/testdir.github.action.yml
  fuzz/reliabot.dict
  fuzz/reliabot_fuzzer.py
Due: reliabot, check-docstring-keywords, check-docstring-keyword-usage

feat: handle "stuck" YAML operations
  fuzz/reliabot_fuzzer.py
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

feat: provide a corpus and fuzzer dictionary for Atheris fuzzing (#275)
  fuzz/Dockerfile
  fuzz/corpus/github.dependabot.yml
  fuzz/corpus/pre-commit-config.yaml
  fuzz/corpus/testdir.configured.github.dependabot.yml
  fuzz/corpus/testdir.github.action.yml
  fuzz/reliabot.dict
  fuzz/reliabot_fuzzer.py
  reliabot/reliabot.py
Due: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

docs: README and CONTRIBUTING updates for doctest-cli
  CONTRIBUTING.md
  README.md
Due: none

fix: use Python 3.11 for PyPI "wrapper" installers
  .pre-commit-config.yaml
Due: none

fix: support time_limit in doctests for py313
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

test: add tox config for py314
  setup.cfg
Due: none

fix: Update for tests with new Python versions (#276)
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  reliabot/reliabot.py
  setup.cfg
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

feat: multi-architecture Dockerfile (ARM64 & AMD64)
  fuzz/Dockerfile
Due: reliabot

feat: multi-architecture Dockerfile (ARM64 & AMD64) (#279)
  fuzz/Dockerfile
Due: reliabot

feat: multi-arch build with pinned hashes for Docker
  .github/dependabot.yml
  fuzz/Dockerfile
  fuzz/Makefile
  fuzz/README.md
  fuzz/requirements.in
  fuzz/requirements.txt
Due: reliabot

feat: multi-arch build with pinned hashes for Docker (#282)
  .github/dependabot.yml
  fuzz/Dockerfile
  fuzz/Makefile
  fuzz/README.md
  fuzz/requirements.in
  fuzz/requirements.txt
Due: reliabot

test: disable fail-fast for now
  .github/workflows/python-app.yaml
Due: reliabot

chore: update Python versions in test matrix
  .github/workflows/python-app.yaml
Due: reliabot

fix: comment syntax error
  .github/workflows/python-app.yaml
Due: reliabot

fix: reduce duplicate lines
  Makefile
Due: none

fix: exclude CHANGELOG-0 from mdformat
  .pre-commit-config.yaml
  Makefile
Due: none

test: don't try to handle TimeLimitError in doctest
  reliabot/reliabot.py
Due: reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: disable draft release generation for now
  .github/workflows/python-app.yaml
Due: reliabot

fix: pyre2-updated doesn't work in 3.14 either
  .github/workflows/python-app.yaml
Due: reliabot

fix: try to get the python-app workflow going again
  .github/workflows/python-app.yaml
  .pre-commit-config.yaml
  Makefile
  reliabot/reliabot.py
Due: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

fix: try to get the python-app workflow going again (#286)
  .github/workflows/python-app.yaml
  .pre-commit-config.yaml
  Makefile
  reliabot/reliabot.py
Due: reliabot, reliabot-pre-commit-files, check-docstring-keywords, check-docstring-keyword-usage

chore: pre-commit-update
  .pre-commit-config.yaml
Due: none

chore: update Poetry pre-commit version (#285)
  .pre-commit-config.yaml
Due: none

chore: pre-commit-update for ruff & prospector
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: reliabot

fix: align pre-commit-update format with prettier
  .pre-commit-config.yaml
  pyproject.toml
Due: reliabot

chore: pre-commit-update poetry & ruff (#288)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: reliabot

fix: align dependabot.yml indent settings with prettier
  .github/dependabot.yml
  README.md
Due: reliabot

fix: align dependabot.yml indent settings with prettier (#289)
  .github/dependabot.yml
  README.md
Due: reliabot

Update badges in README.md
  README.md
Due: none

Path conditions:
  reliabot: any of: (?x)(^|/)(
  gem(s[.]rb|file)|[\w.-]*[.]gemspec|
  cargo[.]toml|
  composer[.]json|
  (?i:[\w.-]*dockerfile[\w.-]*|values[\w.-]*[.]ya?ml)|
  elm(-package)?[.]json|
  action[.]yml|
  [.]gitmodules|
  go[.]mod|
  build[.]gradle([.]kts)?|
  mix[.]exs|
  pom[.]xml|
  package[.]json|
  nuget[.]config|
  requirements[.]txt|pyproject[.]toml|
  pubspec[.]yaml|
  \w[\w.-]*[.](?:hcl|tf)|
  [.]github/workflows/[^/]*[.]ya?ml|
  [.]github/dependabot[.]yml
  )$
  reliabot-pre-commit-files: any of: ^(reliabot/reliabot[.]py|[.]pre-commit-(config|hooks)[.]py)$
  check-docstring-keywords: any of: \.py$
  check-docstring-keyword-usage: any of: \.py$
